# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.so

# Environment Variable 
.env
Secrets/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# VS Code project settings
.vscode/

# Data and outputs
data/