# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.so
*.docx

# Environment Variable 
.env
Secrets/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# VS Code project settings
.vscode/

# Data and outputs
data/

 LaTeX junk (VERY important for your project)
*.aux
*.log
*.out
*.toc
*.fdb_latexmk
*.fls

# Mac system files
.DS_Store

# Large PDF files
*.pdf